#main{ 
 border-bottom-color: rgb(102, 102, 102);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(102, 102, 102);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(102, 102, 102);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(102, 102, 102);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(102, 102, 102);
  display: block;
  font-family: Calibri, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  height: 430px;
  line-height: 25.6000003814697px;
  margin-bottom: 0px;
  margin-left: 242.5625px;
  margin-right: 242.5625px;
  margin-top: 0px;
  max-width: 500px;
  outline-color: rgb(102, 102, 102);
  outline-style: none;
  outline-width: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
  vertical-align: baseline;
  width: 500px;
  }